*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* LES COULEURS APPORTEES AU DIV SONT 
JUSTE POUR POUVOIR LES DIFFERENCIER FACILEMENT */

body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: relative;
  display: flex;
   flex-direction: column;
}
.SYNOPSIS{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.SYNOPSIS span{
  padding: 0 10px;
  border-right: 2px solid rgb(0, 0, 0);
}
.SYNOPSIS span:last-child{
  border-right:none;
}
#SynopsisImage img{
  width: 120px;
 height: 80px;
}

.Start{
  display: flex;
  justify-content: center;
  height: auto;
  padding: 5px;
  border-style: groove;
  border-radius: 50px;
}
.Start img{
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

#infosProfil{
  border-style: dotted;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding: 5px;
  border-style: groove;
}


#LoginProfil{
  border-radius: 50%;
width: auto;
}
#LoginProfil img{
  border-radius: 50%;
  margin: 10px;
  width: 40px;
  height: 40px;
}



#Bottom{
  background-color: rgb(152, 142, 142);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: groove;
  border-radius: 50px;
  width: 200px;
  height: auto;
 
  margin: 20px 0;
  padding: 5px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#Bottom img{
width: 30px;
height: 30px;
}











.Icons{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 20px;
background-color: rgba(0, 251, 255, 0.349);
border-top-color: black;
}
.Icons img{
  margin: 0 10px;
 width: 35px;
 height: 35px;
}
.Icons img:last-child{
  margin-right: 0;
}

.AllProduct{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.PRODUCT{
  width: auto;
display: flex;
flex-direction: column;
margin-right: 20px;
margin-bottom: 20px;

}

.PRODUCT img:last-child{
  margin-right: 0;
}


.IMAGE img{
  width: 350px;
  height: 255px;
  border-radius: 20px;
}

