{{define "home"}}
<!DOCTYPE html>
<html>
<head> 
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/CSS/icons/logo-airbnb-1536.png">
    <link rel="stylesheet" type="text/css" href="/CSS/home.css" >
	<title>airbnb</title>
</head>
<body >
   <div class="SYNOPSIS"> 
<div id="SynopsisImage">
	<img src="../CSS/icons/LOGO2AIRBNB.png" alt="logo-airbnb-1536">
</div>
	  <div class="Start">
	<span>N'importe où</span>
	<span>Une semaine</span>
	<span>Ajouter des voyageurs</span>
	<img src="../CSS/icons/glass_lens_loupe_love_magnifying_search_zoom_icon_146722.png" alt="loupe">
    </div>
	
	<div id="Profil">
		<h2>Mettre mon logement sur Airbnb</h2>
	</div>

 </div>
 
<div class="Icons">
	<img src="../CSS/icons/log-cabane.png" alt="log-cabane">
	<img src="../CSS/icons/ufo.png" alt="Alien">
	<img src="../CSS/icons/river.png" alt="logo_Lac">
	<img src="../CSS/icons/logoGREENhouse.png" alt="logoGREENhouse">
	<img src="../CSS/icons/logoPiscine.webp" alt="logoPiscine">
	<img src="../CSS/icons/LogoSki.png" alt="LogoSki">
	<img src="../CSS/icons/VuePlage.webp" alt="VuePlage">
	<img src="../CSS/icons/castle.png" alt="castle">
	<img src="../CSS/icons/floods.png" alt="floods">
	<img src="../CSS/icons/tiny-house.png" alt="tiny-house">
</div>

	<div class="AllProduct">
	 {{range .Products}}
     	 <div class="PRODUCT">
        
			<div class="IMAGE">
		<img src="{{.Images}}" alt="Image appartements">
	     </div>
		<p>{{.Localisation}}</p>
		<p>{{.Views}}</p>
		<p>{{.Date}}</p>
		<p>€{{.Price}} /Night</p>
	</div>
		{{end}}  

         
	</div>
</div>
</body>
</html>
{{end}}